.active {
  color: var(--primary-green);
  text-decoration: none;
  padding-bottom: 3.1vh;
  padding-right: 0.83vw;
  padding-left: 0.83vw;
  border-bottom: 2px solid var(--primary-green);
}

.inactive {
  color: black;
  font-weight: 400;
  padding-bottom: 3.1vh;
  padding-right: 0.83vw;
  padding-left: 0.83vw;

  text-decoration: none;
}
